<nav class="navbar navbar-expand navbar-theme">
  <form class="d-none d-sm-inline-block">
    <input class="form-control form-control-lite" type="text" placeholder="Buscar..." />
  </form>
</nav>
<h1 class="header-title ms-4 text-white">Productos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-4">
    <li class="breadcrumb-item "><a href="/dashboard-default">Inicio</a></li>
    <li class="breadcrumb-item "><a href="#">Producción</a></li>
    <li class="breadcrumb-item active" aria-current="page">Productos</li>
  </ol>
</nav>
