<div class="logo">
    <a routerLink="/home" class="logo-link">
        <img src="assets/images/logotipo.svg" alt="logo" type="svg/xml" class="logo-img" />
        <span class="logo-text">La VeguitaClick</span>
    </a>
</div>
<div class="profile-container">
    <div class="profile text-center">
        <img class="profile-img mb-2" src="../../../assets/images/profiles/profile.png" alt="profile" />
        <div class="profile-text">John Doe</div>
        <small>Administrator</small>
    </div>
</div>

<div class="sidebar">
    <ul class="sidebar-menu">
        @for(menuItem of menuItems; track menuItem;){
        <li class="sidebar-item">
            <a [routerLink]="menuItem.link" routerLinkActive="active-link" class="sidebar-link" (click)="toggleMenuItem(menuItem)">
                <span class="sidebar-text">{{ menuItem.text }}</span>
                @if(menuItem.submenu){ @if(expandedMenuItems[menuItem.text]){
                <i class="bx bx-chevron-up"></i>
                } @else {
                <i class="bx bx-chevron-down"></i>
                } }
            </a>
            @if(menuItem.submenu && expandedMenuItems[menuItem.text]){
            <ul class="sublist">
                @for(submenuItem of menuItem.submenu; track submenuItem;){
                <li class="sidebar-item">
                    <a [routerLink]="submenuItem.link" routerLinkActive="active-link" class="sidebar-link">
                        <span class="sidebar-text">{{ submenuItem.text }}</span>
                    </a>
                </li>
                }
            </ul>
            }
        </li>
        }
    </ul>
</div>
