<div class="logo">
    <a routerLink="/home" class="logo-link">
        <img src="assets/images/logotipo.svg" alt="logo" type="svg/xml" class="logo-img" />
        <span class="logo-text">La VeguitaClick</span>
    </a>
</div>
<div class="profile-container">
    <div class="profile text-center">
        <img class="profile-img mb-2" src="../../../assets/images/profiles/profile.png" alt="profile"/>
        <div class="profile-text">John Doe</div>
        <small>Administrator</small>
    </div>
</div>


<div class="sidebar">
    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a routerLink="/home" class="sidebar-link">
                <i class="fas fa-home"></i>
                <span class="sidebar-text">Inicio</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="/products" class="sidebar-link">
                <i class="fas fa-box"></i>
                <span class="sidebar-text">Productos</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a routerLink="/categories" class="sidebar-link">
                <i class="fas fa-tags"></i>
                <span class="sidebar-text">Categorias</span>
            </a>
        </li>
    </ul>
</div>