<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex flex-column">
            <div class="product-info-card flex-fill">
                <h5>Proveedor</h5>
                <ul>
                    <li>RUT: {{ supplier.rut }}</li>
                    <li>Nombre: {{ supplier.name }}</li>
                    <li>Direccion: {{ supplier.address }}</li>
                    <li>Correo Electronico: {{ supplier.email }}</li>
                    <li>Telefono: {{ supplier.phone }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
